.buttonStyle {
  background-color: blanchedalmond;
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
}
