.hide {
  /* display: none; */
  background-color: black;
  color: white;
  width: 260px;
  height: 150px;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.show {
  display: block;
  background-color: antiquewhite;
  color: black;
  width: 260px;
  height: 150px;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
